@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap');

.p {
  font-family: 'Lato', sans-serif;
}

a {
  color: #823549;
}

.title-block-header {
  margin-block-end: 1rem;
  position: relative;
  margin-top: -1px;
  height: 700px;
}

.quarto-title-banner {
  margin-block-end: 1rem;
  position: relative;
  margin-bottom: 30px;
  height: 700px;
}

.quarto-title > h1.title {
  opacity: 0 !important;
}

.bslib-value-box {
  border-radius: 8px;
  -bslib-value-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
      border-width: 0 0.5rem 1rem rgb(0 0 0 / 90%);

  
}

.modal__container{
  top: 20px;
}

.bslib-card {
  border: 0px;
  
    border-radius: 8px;
  -bslib-value-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
      box-shadow: 0 0.2rem .5rem rgb(0 0 0 / 20%);
      border-width: 0 0.2rem .5rem rgb(0 0 0 / 40%);

}
.card-header {
  border-bottom: 0px solid rgba(0,0,0,.125);
  background-color: rgba(255, 122, 89, .01);

}
  
}
