@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');

.title-block-header {
  margin-block-end: 1rem;
  position: relative;
  margin-top: -1px;
  height: 700px;
}

.quarto-title-banner {
  margin-block-end: 1rem;
  position: relative;
  margin-bottom: 30px;
  height: 700px;
}

.quarto-title > h1.title {
  opacity: 0 !important;
}
