@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap');

.p {
  font-family: 'Lato', sans-serif;
}

a {
  color: #823549;
}

.title-block-header {
  margin-block-end: 1rem;
  position: relative;
  margin-top: -1px;
}

.quarto-title-banner {
  margin-block-end: 1rem;
  position: relative;
  margin-bottom: 30px;
  height: 100vh;
}

.quarto-title > h1.title {
  opacity: 0 !important;
}

.bslib-value-box {
  border-radius: 8px;
  -bslib-value-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
      border-width: 0 0.5rem 1rem rgb(0 0 0 / 90%);
}

.bslib-card {
  border: 0px;
  border-radius: 8px;
  -bslib-value-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
  box-shadow: 0 0.2rem .5rem rgb(0 0 0 / 02%);
  border-width: 0 0.2rem .5rem rgb(0 0 0 / 05%);
}

.card-header {
  border-bottom: 0px solid rgba(0,0,0,.125);
  background-color: rgba(255, 122, 89, .01);
}

.img-fluid {
  margin: auto;
  display: block;
}

.leaflet-tooltip{
  width: 150px; 
  white-space: normal; 
}

.leaflet-tooltip{
  width: 200px; 
  white-space: normal; 
}

/*-- scss:rules --*/

h2, h3 {
  font-family: Abril Fatface;
  color: #1D1E3C !important;
}

.goals {
  margin: 1em 0;
  border: 2px solid gray;
  border-left: 10px solid #41475E; 
  border-radius: 10px;
}

.goals-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  2px;
  padding-bottom:  1px;
  color: white;
  background-color: #41475E;
  border-top-right-radius: 3px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("stars.png");
}

.goals-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}